<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="progressoPublicacao === 'pendente'">
      <form [formGroup]="formulario" (ngSubmit)="publicar()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar uma publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="file"
           class="form-control"
           accept="image/*"
           (change)="preparaImagemUpload($event)"
          >
          <input type="text" placeholder="Título da publicação" class="form-control"
          formControlName="titulo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Publicar</button>
        </div>
      </form>
    </div>

    <div class="modal-content" *ngIf="progressoPublicacao === 'andamento'">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Publicação em andamento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Progresso: {{ porcentagemUpload }}%
        </div>
        
    </div>

    <div class="modal-content" *ngIf="progressoPublicacao === 'concluido'">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Publicação realizada com sucesso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sua publicação foi realizada com sucesso!
      </div>
    
    </div>
  </div>
</div>