<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div 
        class="col-sm-6 d-flex justify-content-start" 
        [@animacao-painel]="estadoPainel"
        (@animacao-painel.start)="inicioDaAnimacao()"
        (@animacao-painel.done)="fimDaAnimacao()"
         >
        <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
      </div>
    </div>
    <ng-template #formLogin>
      <div 
        class="col-sm-6 d-flex justify-content-start" 
        [@animacao-painel]="estadoPainel"
        (@animacao-painel.start)="inicioDaAnimacao()" 
        (@animacao-painel.done)="fimDaAnimacao()"
        >
        <app-login (exibirPainel)="exibirPainel($event)"
        ></app-login>
      </div>
    </ng-template>
  </div>
</div>